# Copie ce fichier et renomme-le en .env puis remplis les valeurs

CLIENT_ID=votre_client_id_ici
CLIENT_SECRET=votre_client_secret_ici
DISCORD_BOT_TOKEN=votre_bot_token_ici
LOG_CHANNEL_ID=1529078895238975550
PUBLIC_URL=https://votre-url.up.railway.app
DISCORD_SERVER_URL=https://discord.gg/zj5UKDY6zy